# Ansible target server
# このファイルはサンプルです。実際に使用する場合はhostlistとしてコピーし、適切な値に変更してください。

[example_vps]
server1 ansible_host=203.0.113.10 ansible_ssh_user=ubuntu ansible_ssh_private_key_file=/vagrant/ssh_keys/server1.key  # サーバー1の説明
#server2 ansible_host=203.0.113.11 ansible_ssh_user=ubuntu ansible_ssh_private_key_file=/vagrant/ssh_keys/server2.key  # サーバー2の説明

[example_vps:vars]
# グループ内のすべてのサーバーに適用される変数
ansible_become_password=secure_password_here
default_domain_name='example.com'
certbot_email='admin@example.com'
certbot_test_cert=1 # Certbot実行モード(0=正式モード,1=テストモード)